@model TDD_Practices.Models.Project

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ProjectsList")
</p>
