@model IEnumerable<Tdd.Models.Project>

@{
    ViewBag.Title = "ProjectsList";
}

<h2>ProjectsList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @Html.ActionLink("Details", "Project", new { id=item.Id })
        </td>
    </tr>
}

</table>
