@model TDD_Practices.Models.Project

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summ)
        </dd>

    </dl>
    <div>
        <h2>
            Documents
        </h2>
        <table class="table">
            <tr>
                <th>Id</th><th>Name</th><th>Path</th>
            </tr>
            @foreach (var doc in Model.Documents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => doc.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => doc.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => doc.Path)
                    </td>
                </tr>
            }
        </table>
    </div>

</div>
<p>
    @Html.ActionLink("Back to List", "ProjectsList")
</p>
